.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    z-index: 999;
    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 22px;
        padding-top: 29px;
        .header__list {
            display: flex;
            align-items: center;
            gap: 80px;
            .header__item-link {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
            .header__item-link--active {
                text-decoration: underline;
            }
        }
        .header__right-list {
            display: flex;
            align-items: center;
            gap: 20px;
            .header__ru-link {
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                opacity: 0.6;
            }
            .header__ru-link--active {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}

@media only screen and  (max-width: 420px) {
    .header {
        .header__container {
            max-width: 335px;
            width: 100%;
            padding: 10px 0;
            .header__logo-img {
                width: 70px;
                height: 30px;
            }
            .header__list {
                display: none;
            }
            .header__right-list {
                display: none;
            }
        }
    }
}