.standart__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .standart__wrapper {
        max-width: 391px;
        width: 100%;
        margin-right: 74px;
        margin-bottom: 50px;
        .standart__heading {
            font-family: 'Tenor Sans';
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            color: #000000;
            margin-bottom: 30px;
        }
        .standart__top-list {
            display: flex;
            margin-bottom: 30px;
            gap: 90px;
            .standart__t-item {
                max-width: 135px;
                width: 100%;
                .standart__t-item-heading {
                    font-family: 'Tenor Sans';
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 64px;
                    color: #9C5642;
                }
                .standart__t-item-text {
                    font-family: 'Tenor Sans';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #564E4E;
                }
            }
        }
        .standart__bottom-list {
            display: flex;
            margin-bottom: 10px;
            gap: 90px;
            .standart__b-item {
                max-width: 135px;
                width: 100%;
                .standart__b-item-heading {
                    font-family: 'Tenor Sans';
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 64px;
                    color: #9C5642;
                }
                .standart__b-item-text {
                    font-family: 'Tenor Sans';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #564E4E;
                }
            }
        }
    }
}


@media only screen and  (max-width: 375px) {
    .standart__container {
        display: flex;
        flex-direction: column;
        .standart__wrapper {
            margin: 0;
            .standart__heading {
                font-size: 24px;
                line-height: 34px;
                text-align: center;
            }
            .standart__top-list {
                gap: 0px;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 10px;
                .standart__t-item {
                    
                    .standart__t-item-heading {
                        font-size: 36px;
                        line-height: 200%;
                    }
                    .standart__t-item-text {
                        font-size: 9.26508px;
                        line-height: 12px;
                    }
                }
            }
            .standart__bottom-list {
                gap: 0px;
                display: flex;
                justify-content: space-evenly;
                .standart__b-item {
                    
                    .standart__b-item-heading {
                        font-size: 36px;
                        line-height: 200%;
                    }
                    .standart__b-item-text {
                        font-size: 9.26508px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
    
    .standart__img {
        width: 334px;
        height: 242px;
        margin-bottom: 19px;
    }
}