.why__container {
    margin-bottom: 100px;
    .why__heading {
        position: relative;
        padding-top: 157px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;
        color: #000000;
        text-align: center;
        margin-bottom: 100px;
        margin-right: auto;
        margin-left: auto;
        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            max-width: 89px;
            width: 100%;
            height: 47px;
            background-image: url('./../img/flower.svg');
            background-repeat: no-repeat;
            background-size: contain;
            top: 50%;
            left: 50%;
            transform: translateY(-20%) translateX(-60%);
        }
    }
    .why__list {
        display: flex;
        align-items: center;
        gap: 55px;
        margin-bottom: 100px;
        .why__item {
            position: relative;
            padding: 110px 35px 25px 35px;
            background-color: #f7f5f380;
            border-radius: 18px;
            &::before {
                top: 10%;
                left: 50%;
                transform: translate(-50%);
                position: absolute;
                content: "";
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #15594D;
                background-position: center;
                background-image: url('./../img/ptichka.svg');
                background-repeat: no-repeat;
            }
            
            &:nth-child(2)::before {
                background-image: url('./../img/gisht.svg');
            }
            
            &:nth-child(3)::before {
                background-image: url('./../img/plan.svg');
                background-position: calc(50% - 1px);
            }
            
            &:nth-child(4)::before {
                background-image: url('./../img/star.svg');
                background-position: calc(50% - 1px);
            }
            
            .why__item-heading {
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #000000;
                margin-bottom: 5px;
            }
            .why__item-text {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                text-align: center;
                color: #564E4E
            }
        }
    }
}

@media only screen and  (max-width: 420px) {
    .why__container {
        margin-bottom: 24px;
        .why__heading {
            padding-top: 66px;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 24px;
            &::before {
                width: 40px;
                height: 20px;
            }
        }
        .why__list {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            .why__item {
                padding: 97px 22px 20px 22px;
                .why__item-heading{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 8px;
                }
                .why__item-text {
                    font-size: 12px;
                    line-height: 19px;
                }
            }
        }
    }
}